.singleWork{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    margin: 0 10vw 0 10vw;
    .left{
        flex:1;
        text-align: center;
        img{
            width: 80%;


        }
    }
    .right{
        flex: 1;
        height: 100%;
        text-align: center;
        
        h1{
            font-size: 60px;
        }
        p{
            font-size: 25px;
            color: $gray;
            font-weight: 500;
        }

        a{
            padding: 5px 0;
            margin: 20px 50px 0 0;
            background-color: white;
            color: black;
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            border-bottom: 2px solid white;
            transition: .4s;
            
            &:hover{
                border-bottom: 2px solid black;
            }
        }
        span{
            margin: 0 20px;
            color: $gray;
        }
}
}


@media screen and (max-width: 1366px) {

    .singleWork{
       
        .left{
           
            img{
                width: 90%;
            }
        }
        .right{
            
            h1{
                font-size: 50px;
            }
            p{
                font-size: 18px;
            }
    
            a{
                font-size: 16px;
            }
           
    }
    }
    
}

@media screen and(max-width:830px) and (orientation:landscape) {
    
    .singleWork{
        margin: 0 5vh;
       
        .right{
            
            h1{
                font-size: 25px;
            }
            p{
                font-size: 15px;
            }
    }
    }
}


@media screen and (max-width:480px) {
    
    .singleWork{
        flex-direction: column;
        height: 100vh;
        margin: 0 5vw 0 5vw;
        .left{
            flex:1;
            text-align: center;
            img{
                width: 100%;
    
            }
        }
        .right{
            flex: 1;
            height: 100%;
            text-align: center;
            margin-bottom: 15vh;
            
            h1{
                margin-top: 0;
                font-size: 35px;
            }
            p{
                font-size: 16px;
            }

            .links{
                display: flex;
                justify-content: center;
                align-content: center;
            }
    
            a{
               width: 50%;
               margin-top: 0;
               margin-right: 0;
                font-size: 20px;
                
                
                &:hover{
                    border-bottom: 2px solid black;
                }
            }
    }
    }

}

@media screen and(max-width:320px) {

    .singleWork{
        margin-top: 15vh;
        .right{
            margin-top: -10vh;
        }
    }
    
    }
    
