.skill {
    width: 20vw;
    height: 20vw;
    margin-bottom: 4vw;
    padding: 0;
    filter: grayscale(0.5);
    .img {
        background-color: white;
        transition: .5s;
        border-radius: 10px;
        img {
            width: 100%;
            transition: .5s;
        }
    }
    &:hover {
        .img {
            transform: scale(1.2)
        }
    }
}

@media screen and (max-width: 480px) {
    .skill {
        width: 25vw;
        height: 25vw
    }
}